{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
    },
    "plugins": [
        "react",
        "standard",
        "promise"
    ],
    "env": {
        "mocha": true,
        "node": true,
        "browser": true
    },
    "globals": {
        "expect": false,
        "sinon": false,
    },
    "rules": {
        "eol-last": 0
    }
}
